<!DOCTYPE html>
<html lang="en" ng-app="PLS">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Layout Sample App</title>
  
  <!-- CSS FILES -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container" ng-controller="FeatCtrl as featCtrl">
  <h1>Project Layout Sample App</h1>

  <form novalidate name="featForm">
    <div class="form-group">
      <h3><label for="question">Question</label></h3>
      <input type="text" name="question" id="question" 
        ng-model="featCtrl.question" 
        class="form-control"
        width="30">
    </div>

    <div class="form-group">
      <button type="button" class="btn btn-primary" ng-click="featCtrl.submit()">ASK</button>
      <button type="button" class="btn btn-danger"  ng-click="featCtrl.remoteCall()">ASK REMOTE</button>
    </div>

    <div class="form-group">
      <h3><label for="answer">Answer</label></h3>
      <h3>{{ featCtrl.answer }}</h3>
    </div>
  </form>
</div>

<!-- JS FILES -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>  
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>

<!-- Custom Scripts -->
<!--app.js must be loaded first, add other custom scripts below-->
<script src="app/app.js"></script>

<!-- Load Services JS -->
<script src="app/services/help.service.js"></script>

<!-- Load Controllers JS -->
<script src="app/feature/feature.controller.js"></script>

</body>
</html>